@model HomeManager.Domain.InventoryItem


<h2>Create Inventory Item</h2>

@using (Html.BeginForm("InventoryItem"))
{
   

    <fieldset>
        <legend>InventoryItem</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Added)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Added)
            @Html.ValidationMessageFor(model => model.Added)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.UPC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UPC)
            @Html.ValidationMessageFor(model => model.UPC)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Size)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Size)
            @Html.ValidationMessageFor(model => model.Size)
        </div>



        <div class="editor-label">
            @Html.LabelFor(model => model.Count)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Count)
            @Html.ValidationMessageFor(model => model.Count)
        </div>



        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



